.hero {
  display: flex;
  align-items: center;
  margin: 0 0 60px 0;
  padding: 105px 0;
  min-height: calc(100vh - 127px);
  background: rgba(222, 236, 221, 0.8);
}

.hero__wrapper {
  display: grid;
  grid-template-columns: 1fr 640px;
  gap: 55px;
}

.hero__text {
  margin: 0 0 40px 0;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.05em;
  color: #475009;
}

.hero__slogan {
  margin: 0 0 50px 0;
  font-size: 30px;
  line-height: 36px;
  color: #475009;
}

.hero__gallery-list {
  display: grid;
  grid-template-columns: 305px 300px;
  gap: 50px 35px;
}

.hero__gallery-item--size-xl {
  grid-row: span 2;
}
